{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Main Content -->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="btn btn-primary" id="toggleSidebar">☰</button>
            <div class="ms-auto">
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a class="nav-link" href="{% url 'dashboardApp:admin_dashboard' %}">Dashboard</a>
                {% endif %}
                <a class="nav-link" href="{% url 'accountApp:logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'accountApp:login' %}">Login</a>
                <a class="nav-link" href="{% url 'accountApp:signup' %}">Signup</a>
            {% endif %}

            </div>
        </div>
    </nav>

    <div class="mt-4">
        <h2>Dashboard</h2>
        <p>Welcome to the Smart Vehicle Management System.</p>
    </div>
</div>
{% endblock content %}
