{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container mt-4">
        <h2>Registered Users</h2>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Date Joined</th>
                    <th>Is Staff</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>{% if user.is_staff %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No registered users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock content %}