{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Maintenance Records</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>Service Date</th>
                <th>Cost</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.vehicle }}</td>
                    <td>{{ record.service_date }}</td>
                    <td>${{ record.cost }}</td>
                    <td>{{ record.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
